tools/Blender/Imports-exports_Sofa/sofa/config.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Path">
          <xs:complexType>
            <xs:attribute name="strSofaPath" type="xs:string" use="required" />
            <xs:attribute name="strScenesPath" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Files">
          <xs:complexType>
            <xs:attribute name="strNomCompletExecutableSofa" type="xs:string" />
            <xs:attribute name="strNomCompletDerniereSceneImport" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
